In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('response_csvkit.csv')

In [6]:
df

,author_id,entities/annotations/0/start,entities/annotations/0/end,entities/annotations/0/probability,entities/annotations/0/type,entities/annotations/0/normalized_text,entities/hashtags/0/start,entities/hashtags/0/end,entities/hashtags/0/tag,entities/urls/0/start,...,referenced_tweets/0/id,in_reply_to_user_id,entities/mentions/1/start,entities/mentions/1/end,entities/mentions/1/username,entities/annotations/1/start,entities/annotations/1/end,entities/annotations/1/probability,entities/annotations/1/type,entities/annotations/1/normalized_text
0,2244994945,221.0,226.0,0.4652,Product,Twitch,110.0,121.0,twitterapi,229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2244994945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.370028e+18,2.244995e+09,63.0,73.0,marie_dm_,NaN,NaN,NaN,NaN,NaN
2,2244994945,13.0,20.0,0.3405,Person,Threader,NaN,NaN,NaN,NaN,...,1.370028e+18,2.244995e+09,133.0,145.0,yesnoornext,100.0,106.0,0.7611,Product,Twitter
3,2244994945,0.0,6.0,0.5394,Product,Twitter,NaN,NaN,NaN,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2244994945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.367519e+18,2.244995e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN